@import "tailwindcss";

::-webkit-scrollbar {
  height: 4px; /* horizontal scrollbar height */
  width: 4px; /* vertical scrollbar width */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(214, 38, 38, 0.25);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}
